# Created by .ignore support plugin (hsz.mobi)

.idea/.idea.HH.Meeting/.idea/modules.xml

.idea/.idea.HH.Meeting/.idea/vcs.xml

.idea/.idea.HH.Meeting/.idea/contentModel.xml

.idea/.idea.HH.Meeting/.idea/workspace.xml

.idea/.idea.HH.Meeting/riderModule.iml
